main {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 360px;
    background-image: url("../assets/images/about.png");
    box-shadow: inset 0 0 0 1000px rgba(178, 191, 196, 20%);
    background-size: cover;
    margin-bottom: 1rem;
}

h1 {
    color: var(--secondary);
    font-weight: 600;
    font-size: 1.5rem;
}

article {
    width: 360px;
    font-size: 1rem;
    font-weight: 500;
}

article div {
    margin-bottom: 1.5rem;
}

.desktop-right {
    display: flex;
    flex-direction: column;
}

button a {
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
    color: #FFFFFF;
}

button a:visited {
    box-shadow: #041B21;
}

.explore-btn {
    height: 3rem;
    width: 360px;
    margin-bottom: .5rem;
    background-color: var(--cta);
    border: none;
}

.sign-up-btn {
    height: 3rem;
    width: 360px;
    background-color: var(--primary);
    border: none;
}

/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) */
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
}

/* Large (lg) */
/* Your styles for the large breakpoint here */
@media (min-width: 1024px) {
    main {
        margin-top: 48px;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .desktop-left .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 430px;
        /*width: 360px;*/
        background-image: url("../assets/images/about.png");
        box-shadow: inset 0 0 0 1000px rgba(178, 191, 196, 20%);
        background-size: cover;
        margin-bottom: 1rem;
    }

    .desktop-right {
        display: flex;
        flex-direction: column;
    }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}
