main {
    margin-top: 1.5rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 360px;
    background-image: url("../assets/images/contact-support.png");
    box-shadow: inset 0 0 0 1000px rgba(178, 191, 196, 20%);
    background-size: cover;
    margin-bottom: 1rem;
}

h1 {
    color: var(--secondary);
    font-weight: 600;
    font-size: 1.5rem;
}

.submission-form {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 1rem;
    gap: .5rem;
}

::placeholder {
    color: var(--placeholder);
}

.submission-form label {
    font-weight: 500;
}

#name {
    padding: .5rem;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
}

#email {
    padding: .5rem;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
}

#subject {
    padding: .5rem;
    height: 200px;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
}

#submission-btn {
    color: var(--secondary);
    background-color: var(--cta);
    height: 48px;
    border: none;
}


/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) */
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
}

/* Large (lg) */
/* Your styles for the large breakpoint here */
@media (min-width: 1024px) {

    main {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .submission-form {
        width: 360px;
        height: fit-content;
    }

    #submission-btn {
        height: 48px;
    }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}
