:root {
    --primary: #365B63;
    --secondary: #F5F5F5;
    --tertiary: #041B21;
    --cta: #E3660A;

}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans Kannada', sans-serif;
}

body {
    width: 100vw;
    /*margin: 0 35px;*/
    margin: 0;
    height: 100vh;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

nav {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    background-color: #FEFEFE;
    border-bottom: 1px solid var(--primary);
}

.nav-left {
    width: 36px;
    height: 32px;
}

.nav-center {
    display: none;
}

.nav-right {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-right-heart {
    width: 35px;
    height: 32px;
}

.nav-right-bag {
    width: 26px;
    height: 32px;
    margin-left: 16px;
}

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 583px;
    /*width: 100%;*/
    width: 430px;
    background-image: url("../assets/images/mobile-hero-img.jpg");
    box-shadow: inset 0 0 0 1000px rgba(178, 191, 196, 19%);
    background-size: 100%;
}

.hero-cta {
    color: var(--secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: 32px;
    padding-right: 170px;
    padding-top: 330px;

}

.hero-home-logo {
    margin-top: 40px;
    height: 133px;
    width: 248px;

}

h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 35px;
    margin-top: 24px;
}

/*.carousel-1 {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.carousel-2 {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.sign-up-banner {
    background-image: url("../assets/images/mobile-sign-up.jpg");
    box-shadow: inset 0 0 0 1000px rgba(000, 000, 000, 20%);
    background-size: 100%;
    height: 377px;
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-banner a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: 300;
    font-size: 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 246px;
    width: 430px;
    background-color: #041B21;
    margin-top: 48px;
}

.footer-links {
    color: #B2BFC4;
    padding: 16px;
    margin: 0;
    list-style-type: none;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.footer-links li {
    padding: 8px;
}

.footer-line {
    height: 1px;
    width: 80%;
    background-color: #B2BFC4;
}

.footer-social-icons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
    margin-top: 24px;
}


/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) */
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
    body {
        width: 100vw;
    }

    /*.nav-center {*/
    /*    display: block;*/
    /*}*/
}

/* Large (lg) */
@media (min-width: 1024px) {
    /* Your styles for the large breakpoint here */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    body {
        width: 100vw;
        margin: 0;
        height: 100vh;
    }

    nav {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 70px;
        border-bottom: 1px solid var(--primary);
    }

    .nav-left {
        display: none;
    }

    .hero {
        background-image: url("../assets/desktop images/desktop-hero-img (1).jpg");
        background-repeat: no-repeat;
        height: 640px;
        width: 1280px;
    }
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}